/* Get rid of top white space */
html, header, body, p {
    margin: 0;
    padding: 0;    
}

/*********** HEADER *********/

/* Header - contains logo and nav*/
.page-header {
    margin: 15px 0 0 0;  
}

.page-header .container {
    margin: 0;
    width: 100%;
    
}

/* Logo */
.navbar-brand {
    height: auto;
    padding: 0;
}

/* Nav bar */
.nav {
    border-bottom: none;
    padding-top: 50px;  
}

header li a {
    color: #2d2c2c;
}

header li a:active {
    color: #ddd;
}

/****** BODY *******/

.wrapper {
    padding-top: 175px;
}




















/* 

/* Get rid of top white space 
html, body, p {
    margin: 0;
    padding: 0;    
}

/* Font 
html, body, p, a {
    font-family: 'Raleway', serif;
    font-size: 1em;
}


/************** HOMEPAGE **************

/* Static header 
.static-header {
    position: fixed;
    height: 200px;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
}


/* Top Banner Block- contact info 
#container {
    padding-top: 225px;
}

.top-content {
    display: block; 
    width: 100%;
    margin: 0;
    height: 25px; 
    background-color: #161c3c; 
    border-bottom: 2px solid #fdd553;
}

/* Logo 
    
.logo {
    width: 30%;
    float: left;    
    }
.inline-img {
    display: block;
    padding: 25px;
    margin: 0;
}

/* Header photo 
#banner img {
    width: 100%; 
    border-top: 2px solid #501d19;
    border-bottom: 2px solid #501d19;
}

/* Navigation 
.main-nav {
    z-index: 1001;
    width: 70%;
    float: right;
}
    
.main-nav ul {
    float: right;
    position: relative;
    padding: 75px 0 50px 0;
    background-color: white;
}
.main-nav a {
    text-decoration: none;
    list-style-type: none;
    padding: 25px;
    color: #2d2c2c;   
}

.main-nav li {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    border-right: 1px solid #bbb;       
}

.main-nav li:last-child {
    border-right: none;
}



/* Food photos and content boxes 
#content-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#content-boxes div {
    width: 30%;
    margin: auto;
    padding-bottom: 50px;
}

#content-boxes img {
    width: 100%;
}


/* Footer 

footer {
    position: fixed;
    text-align: center;
    height: 75px;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background-color:  #ffffff;
}

footer li {
    display: inline-block; 
    text-decoration: none;
}

footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: .50em;
}



/************** OUR STORY ***************

/* About Premiere Chefs *
.pc-about-container {
    padding-top: 225px;
    padding-bottom: 650px;   
}

#about-pc {
    display: block;
    float: left; 
    padding-left: 20px;
    width: 55%;
    min-height: 125px;
    
}

.pc-header {
    text-align: center; 
    font-weight: 600px;
    font-family: 'Dynalight', cursive;
    font-size: 2em;
    
}

.pc-pg { 
    font-family: 'Open Sans', sans-serif;
    font-size: .75em;
    padding: 10px;
    text-align: center;
}

.about-photo {
    float: right;
    width: 35%;
    border: 2px solid #501d19;
    margin: 20px 30px;
    height: auto;
}


/************* SERVICES *************

/* About Services */

#services-container {
    padding-top: 225px;
    padding-bottom: 200px;
    width: 100%;
}

#services-content {
    display: block;
    margin: 0 auto; 
}

#services-content .pc-pg {
    width: 75%;
}

#service-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#service-boxes div {
    width: 30%;
    margin: auto;
    padding-bottom: 50px;
}

#service-boxes img {
    width: 100%;
    border: 2px solid #501d19;
}


/************* RECIPES *************

/************* CONTACT *************
.contact-form {
    padding-top: 2
        25px; 
    width: 100%;
    height: 700px;
}

form {
    display: block;
    padding-left: 100px;
    margin: 0 auto;
}


.contact-form .form-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    text-align: left; 
}
.pc-input {
    margin: 0px 0 10px 0;
    padding: 5px;   
}

#pc-textarea {
    border-color: #ddd;
}



